@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


/* My Custom CSS -> from styles.css to output.css */


@media screen and (max-width: 768px) {
    /* Smaller Google logo */
    .google-logo {        
        text-align: center;
        margin: 36px auto 18px;
        width: 160px;
        height: 56px;
        line-height: 0;
        aspect-ratio: auto 160 / 56;
        border: none;
    }
    /* .custom-search-bar {
   
    
} */

}


/* Custom Ulitilies*/

.custom-font-arial {
    font-family: 'Arial', sans-serif;
  }


/* Style for navigation links */

.google-link-left {
    font-size: 14px;
    color: #202124;
}

.google-link {
    color: rgba(0,0,0,.87);
    font-size: 13px;
}

/* Google Services button */
.google-services-button {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.google-services-button:hover {
    background-color: rgba(60, 64, 67, 0.08);
}

/* Google Services icon SVG */
.google-services-icon {
    width: 24px; 
    height: 24px; 
    fill: #5f6368; 
}

/* Google Search bar */
.custom-search-bar {
    display: flex;
    z-index: 3;
    position: relative;
    min-height: 44px;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
    width: 638px; 
    max-width: 584px; 
}

.custom-search-bar:hover {
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
    border-color: rgba(223,225,229,0);
}

/* SVG Icons */
.search-icon-svg {
    height: 20px;
    line-height: 20px;
    width: 20px;
    vertical-align: middle;

}

.invisible {
    height: 18px;
    width: 18px;
    vertical-align: middle;
}

.mic-icon-svg {
    height: 24px;
    width: 24px;
    vertical-align: middle;
}

.mic-icon-svg:hover {
    content: attr(aria-label);
}


.image-icon-svg {
    height: 24px;
    width: 24px;
    vertical-align: middle;
}

/* Sumbit Buttons */

.google-search-btn,
.feeling-lucky-btn {
    background-color: #f8f9fa;
    border: 1px #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.google-search-btn:hover,
.feeling-lucky-btn:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0
}

.google-menu {
    font-family: Arial, sans-serif;
    color: #202124;
}


/* Advanced Search Button */

.advanced-bar {
    color: #d93025; 
    font-size: 20px; 
    margin: 25px 35px;

  }
  

.button-advanced {
    line-height: 100%;
    height: 30px;
    min-width: 120px;
    float: right;
    margin: 10px;
    padding: 0 12px;
    box-shadow: none;
    background-color: #4d90fe;
    background-image: linear-gradient(to bottom, #4d90fe, #4787ed);
    border: 1px solid #3079ed;
    color: #fff;
    border-radius: 2px;
    cursor: default;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
  }
  
  .button-advanced:hover {
    background-color: #357ae8;
    border: 1px solid #2f5bb7;
  }
  
  .button-advanced:focus {
    border: 1px solid #fff;
  }
  
/* Google Advanced Search Form */

.body-advanced {
    font-family: arial,sans-serif;
}

div {
    display: block;
}

div.Mza7yc {
    max-width: 1140px px;
    min-width: 200px;
    width: 96%;
    margin: 40px 2% 0 45px;
}

div.otByu {
    width: 100%;
    clear: both;
}

div.otByu div.yIQOUb {
    clear: both;
}

div.otByu div.I1Kbt, div.lFApYd {
    float: left;
    display: inline-block;
    min-width: 167px;
    width: 16%;
    font-size: 16px;
    min-height: 42px;
    font-weight: 500;
    color: #333;
    vertical-align: middle;
}

div.lOTAE {
    height: 30px;
    display: table-cell;
    vertical-align: middle;
}



div.otByu div.HoCfzc {
    float: left;
    display: inline-block;
    min-width: 167px;
    min-height: 41px;
    vertical-align: middle;
    width: 50%;
}

div.otByu div.orcpGe {
    float: left;
    display: inline-block;
    width: 33%;
    font-size: 13px;
    font-weight: 700;
    color: #777;
    padding-left: 5px;
    vertical-align: middle;
}

div.otByu div.FAcADc {
    float: left;
    display: inline-block;
    min-width: 167px;
    width: 16%;
    height: 42px;
    color: #222;
    font-size: 13px;
    line-height: 16px;
    vertical-align: middle;
}

div.otByu div.jYcx0e {
    float: left;
    display: inline-block;
    min-width: 167px;
    min-height: 41px;
    vertical-align: middle;
    width: 50%;
}

div.otByu div.jYcx0e input[type=text], div.otByu div.jYcx0e span.PnexQd {
    width: 100%;
    text-align: left;
}

div.PLLUQc {
    padding-right: 16px;
}

div.otByu div.cwqNnb {
    float: left;
    display: inline-block;
    width: 32%;
    min-width: 160px;
    margin: 0 0 8px 1%;
    color: #555;
    font-size: 11px;
    padding-left: 5px;
    vertical-align: middle;
    position: relative;
}

/* div.otByu div.cwqNnb span.BFlQMb {
    color: #666;
    font-family: monospace;
    font-size: 11px;
    white-space: pre;
} */

.jfk-textinput {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
    height: 25px;
    padding: 1px 8px;
}

input[type="text" i] {
    padding-block: 1px;
    padding-inline: 2px;
}

input:not([type="file" i], [type="image" i], [type="checkbox" i], [type="radio" i]) {
}