@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


/* My Custom CSS -> from styles.css to output.css */

/* Custom Ulitilies*/

.custom-font-arial {
    font-family: 'Arial', sans-serif;
  }


/* Style for navigation links */

.google-link-left {
    font-size: 14px;
    color: #202124;
}

.google-link {
    color: rgba(0,0,0,.87);
    font-size: 13px;
}

/* Google Services button */
.google-services-button {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.google-services-button:hover {
    background-color: rgba(60, 64, 67, 0.08);
}

/* Google Services icon SVG */
.google-services-icon {
    width: 24px; 
    height: 24px; 
    fill: #5f6368; 
}



